.body{
    border: 1px solid red;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background:blue;



}

.container{
    position: relative;
    max-width:900px ;
    width:100%;
    border-radius: 6px;
    padding: 30px;
    margin:0 15px;
    background-color: #fff;
    box-shadow: 0 5px 10px rgba(0,0,0,0.1);




}

.container header{
    position: relative;
    font-size: 20px;
    font-weight: 600;
    color: #333;


}

.container header::before{
    content: "";
    position: absolute;
    bottom: -2px;
    height: 3px;
    width: 27px;
    background-color: #4070f4;
    left:0;



}
.container form{
    position: relative;
    margin-top: 16px;
    min-height: 490px;
    background-color: #f2f2f2;


}
.container form .details{
  margin-top: 30px;

}

.container form .title{
    display: block;

   font-size: 16px;
   font-weight: 500;
   margin: 6px 0;
   color: #333;
   

}

.container form .fields{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
form .fields .input-field{
    display: flex;
    flex-direction: column;
    margin: 4px 0;


}

.input-field label{
  font-size: 12px;
  font-weight: 500;
  color: #2e2e2e;

}

.input-field input{
    height: 42px;
    padding: 0 15px ;
    border: 1px solid #aaa;

}

.input-field input:is(:focus,:valid){

box-shadow: 0 3px 6px (rgba(0,0,0,0.13));

}