#main{
    background-color: #003D29;
    display: flex;
    justify-content: space-between;
    /* height: 30px; */
    align-items: center;
    padding-left:80px ;
    padding-right: 80px;
    cursor: pointer;
    font-size: 14px;
    color: white;
    padding-top: 5px;
    
  
}
.contact{
    display: flex;
    align-items: center;
    gap: 10px;
}
.mid{
    display: flex;
    align-items: center;
    gap: 5px;
}
.end{
    display: flex;
    text-align: center;
    align-items: center;
    gap: 20px;

}

@media screen  and (max-width:1290px){
    #main{
       width: "flex-wrap";
      
       
       /* border: 2px solid red; */
    }
       .mid{
           display: none;
       }
   }
   @media screen and (max-width:420px) {
    
        #num{
           display: none;
        }
        #lang{
           display: none;
        }
        .end :nth-child(2){
            display: none;
        }
   }